<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/common-layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Hello Spring Security Coffee Shop</title>
</head>
<body>
    <hr />
    <div layout:fragment="content">
        <div>
            <form action="/members/register" method="post">
                <p><input type="text" name="name" placeholder="User Name" size="50" height="50"/></p>
                <p><input type="email" name="email" placeholder="Email" size="50" /></p>
                <p><input type="password" name="password" placeholder="Password" size="50" /></p>
                <p><button >회원가입</button></p>
            </form>
        </div>
    </div>
</body>
</html>